Body{
   background-color: black;
}
.h{
    color: gray;
}
.h2{
    color: gray;
}
.h3{
    color: w;
}
.h4{
    color: #767676;
}
.h5{
    color: white;
}
.h6{
    color: #767676;
}
.h7{
    color: #767676;
}
.h8{
    color: white;
}
.h9{
    color: #767676;
}
.h10{
    color: white;
}